      <tr>
        <td><%= team.name %></td>
        <td><%= team.wins %></td>
        <td><%= team.loss %></td>
        <td><%= team.ties %></td>
        <td><%= team.goals_for %></td>
        <td><%= team.goals_against %></td>
        <td><%= team.goal_differential %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

