<p id="notice"><%= notice %></p>

<p>
  <strong>Wins:</strong>
  <%= @team.wins %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @team.loss %>
</p>

<p>
  <strong>Ties:</strong>
  <%= @team.ties %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>
<p>
  <strong>Goals For:</strong>
  <%= @team.goals_for %>
</p>
<p>
  <strong>Goals Against:</strong>
  <%= @team.goals_against %>
</p>
<p>
  <strong>Goal Differential:</strong>
  <%= @team.goal_differential %>
</p>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
