<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @round.name %>
</p>

<% @groups.each do |group| %>
<p>
  <strong>Group:</strong> <%= group.name %>
</p>
<% end %>

<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
