<h1>Listing matchups</h1>

<table>
  <thead>
    <tr>
      <th>Homescore</th>
      <th>Awayscore</th>
      <th>Final</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matchups.each do |matchup| %>
      <tr>
        <td><%= matchup.homeScore %></td>
        <td><%= matchup.awayScore %></td>
        <td><%= matchup.final %></td>
        <td><%= link_to 'Show', matchup %></td>
        <td><%= link_to 'Edit', edit_matchup_path(matchup) %></td>
        <td><%= link_to 'Destroy', matchup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Matchup', new_matchup_path %>
