<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @stat.title %>
</p>

<p>
  <strong>Key:</strong>
  <%= @stat.key %>
</p>

<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
